/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

/*VARIABLES*/
:root {
  --background-light-color: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  --primary-color: #fef9ef;
  --alternate-light-color: #f2f2f7;
  --text--color: #495057;
  --positive-color: #05c665;
  --negative-color: #ff2767;
  --neutral-color: #48cae4;
  --default-font-style: 'Poppins', 'sans-serif';
}

/*=======GENERAL*/
html {
  font-size: 93.75%;
}
body {
  font-family: var(--default-font-style);
  background: var(--background-light-color);
}
.container {
  width: min(90vw, 800px);
  margin: auto;
}
/*=======LOGO*/
.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}
/*=======AVATAR-HEADER*/
#user_avatar {
  margin: auto;
  margin-top: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#user_avatar img {
  clip-path: circle();
  height: 10rem;
  width: 10rem;
  object-fit: fill;
  transition: 0.2s;
}
#user_avatar .avatar_border {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#user_avatar .avatar_border::before {
  content: '';
  width: 105%;
  height: 105%;
  border: 2px var(--primary-color) solid;
  border-radius: 100%;
  position: absolute;
  clip-path: circle();
}

#user_avatar a {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
  font-size: 0.75rem;
}
/*=======LINK-CARDS*/
#link_cards {
  margin-top: 4rem;
}
.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.card_set .card_button {
  border: 1px var(--primary-color) solid;
  display: inline-grid;
  padding: 0.5rem 0 0.5rem 0;
  width: 80%;
  margin-bottom: 1rem;
  color: var(--text--color);
  border-radius: 2rem;
  background: var(--primary-color);
  overflow: hidden;
  transition: 0.2s;

  transform: rotate(0);
}
.card_set .card_button:hover {
  background-color: #dee2e6;
  border-color: #dee2e6;
  transform: rotate(-1deg);
}

/*=======ICONS-FOOTER*/
.social_links {
  display: flex;
  text-align: center;
  justify-content: center;
}
.social_links a {
  color: var(--primary-color);
  margin: 4rem 0.5rem 0 0.5rem;
}
/*=======BUTTONS*/

.input_actions .cancel_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px var(--negative-color) solid;
  color: var(--negative-color);
  opacity: 0.6;
  font-weight: normal;
  transition: 0.2s;
}
.input_actions .cancel_button:hover {
  opacity: 1;
}
.input_actions button {
  font-size: 93.75%;
  color: var(--primary-color);
  background: var(--positive-color);
  border: none;
  transition: 0.2s;
}
.input_actions button:hover {
  opacity: 0.7;
}
.input_actions .cancel_button,
.input_actions button {
  height: 50px;
  border-radius: 0.25rem;
  cursor: pointer;
}
/* ADD AND DELETE BUTTONS*/
#add_button {
  font-size: 2rem;
  color: var(--primary-color);
  display: flex;
  text-align: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(0);
}
#add_button:hover {
  color: var(--positive-color);
  transform: translateY(-5%);
}
.card_set i {
  font-size: 1rem;
  cursor: pointer;
  color: var(--primary-color);
  opacity: 0.3;
  transform: translateY(0);

  transition: 0.35s;
}
.card_set i:hover {
  opacity: 1;
  transform: translateY(-10%);
  color: var(--negative-color);
}
/*EDIT INPUT ICON*/
#user_avatar label {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: -2rem;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1rem;

  transition: 0.2s;
  transform: translateY(0);
}
#user_avatar label:hover {
  color: var(--neutral-color);
  transform: translateY(-10%);
}
#user_avatar input {
  display: none;
}
/*=======MODAL*/
.modal_overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;

  display: grid;
  align-items: flex-end;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  transition: 0.2s;
}
.modal_overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal_overlay.active .modal {
  transform: translateY(0);
}
.modal {
  background: var(--primary-color);
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  border-radius: 0.5rem 0.5rem 0 0;
  position: relative;
  z-index: 1;
  transition: 0.25s;
  transform: translateY(10%);
}

/*=======FORM*/
form {
  max-width: 500px;
}
form h2 {
  margin-top: 0;
}
input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.6rem;
  width: 100%;
  background-color: var(--alternate-light-color);
}
.input_group {
  margin-bottom: 0.8rem;
}
.input_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input_actions .cancel_button,
.input_actions button {
  width: 48%;
}
/*=======FOOTER*/
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  transition: 0.2s;
  color: var(--primary-color);
  opacity: 0.5;
}
footer a {
  display: grid;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: fit-content;
  color: var(--primary-color);
  opacity: 0.5;
  transition: 0.2s;
  transform: translateY(0);
}
footer a:hover {
  transform: translateY(-10%);
}
/*=======RESPONSIVE*/
@media (min-width: 600px) {
  html {
    font-size: 87.5%;
  }

  .card_set .card_button {
    width: 40%;
  }

  .modal_overlay {
    align-items: center;
  }
  .modal {
    border-radius: 0.5rem;
  }
  #user_avatar img {
    height: 8rem;
    width: 8rem;
  }
}
