
.container {
  width: min(90vw, 800px);
  margin: auto;
}
/*=======LOGO*/
.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}
/*=======AVATAR-HEADER*/
#user_avatar {
  margin: auto;
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  justify-items: center;
 
  
}
#user_avatar img {
  clip-path: circle();
  height: 10rem;
  width: 10rem;
  object-fit: fill;
  transition: 0.2s;
}
#user_avatar .avatar_border {
  position: relative;
  display: flex;
  margin-left: 1.5rem;
  justify-content: center;
  justify-items: center;
  
}
#user_avatar p {
  margin-top: 1rem;
}

#user_avatar a {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
  font-size: 0.75rem;

  
}
@media (max-width: 400px){
  
}
