html {
  font-size: 93.75%;
}
body {
  font-family: var(--default-font-style);
  background: var(--background-light-color);
}
.container {
  width: min(90vw, 800px);
  margin: auto;
}
/*=======LOGO*/
.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}
/*=======AVATAR-HEADER*/
#user_avatar {
  margin: auto;
  margin-top: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#user_avatar img {
  clip-path: circle();
  height: 10rem;
  width: 10rem;
  object-fit: fill;
  transition: 0.2s;
}
#user_avatar .avatar_border {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#user_avatar .avatar_border::before {
  content: '';
  width: 105%;
  height: 105%;
  border: 2px var(--primary-color) solid;
  border-radius: 100%;
  position: absolute;
  clip-path: circle();
}

#user_avatar a {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
  font-size: 0.75rem;
}

