/*=======BUTTONS*/

.input_actions .cancel_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px var(--negative-color) solid;
  color: var(--negative-color);
  opacity: 0.6;
  font-weight: normal;
  transition: 0.2s;
}
.input_actions .cancel_button:hover {
  opacity: 1;
}
.input_actions button {
  font-size: 93.75%;
  color: var(--primary-color);
  background: var(--positive-color);
  border: none;
  transition: 0.2s;
}
.input_actions button:hover {
  opacity: 0.7;
}
.input_actions .cancel_button,
.input_actions button {
  height: 50px;
  border-radius: 0.25rem;
  cursor: pointer;
}
/* ADD AND DELETE BUTTONS*/
#add_button {
  font-size: 2rem;
  color: var(--primary-color);
  display: flex;
  text-align: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(0);
}
#add_button:hover {
  color: var(--positive-color);
  transform: translateY(-5%);
}
.card_set i {
  font-size: 1rem;
  cursor: pointer;
  color: var(--primary-color);
  opacity: 0.3;
  transform: translateY(0);

  transition: 0.35s;
}
.card_set i:hover {
  opacity: 1;
  transform: translateY(-10%);
  color: var(--negative-color);
}

/*EDIT ICON*/

#user_avatar .edit_button i {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.25rem;
  
  transition: 0.2s;
  transform: translateY(0);
}
#user_avatar .edit_button i:hover {
  color: var(--neutral-color);
  transform: translateY(-10%);
}

/*profile button*/
aside .button {
  font-size: 93.75%;
  color: var(--primary-color);
  background: var(--positive-color);
  border: none;
  transition: 0.2s;
  cursor: pointer;
  height: 40px;
  width: 8rem;
  border-radius: 0.25rem;
}

aside button:hover {
  opacity: 0.7;
}

/*profile-backbutton*/
aside .back_button{
  display: inline-flex;
  top: -1.75rem;
  left: 1rem;
  position: absolute;
  background: #e5e6e4;
  color: var(--text-color);
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: -1;

  transform: translateY(0.5rem);
  transition: 0.15s;
}
aside .back_button:hover{
  transform: translateY(0);
}