/*=======LINK-CARDS*/
#link_cards {
  margin-top: 4rem;
}
.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}
.card_set {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.card_set .card_button {
  padding: 0.5rem 0 0.5rem 0;
  width: 80%;
  color: var(--text--color);
  border-radius: 2rem;
  background: var(--primary-color);
  overflow: hidden;
  transition: 0.2s;

  transform: rotate(0);
}
.card_set .card_button:hover {
  background-color: #dee2e6;
  border-color: #dee2e6;
  transform: rotate(-1deg);
}
