/*=======LINK-CARDS*/
#link_cards {
  margin-top: 3rem;
}

#link_cards .cards{
  display: grid;
  gap: 0.75rem;
  justify-items: center;
  margin: auto;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.cards .card{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card .card_name a{
  display: inline-block;
  background: var(--primary-color);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 18rem;
  text-align: center;
  overflow: hidden;
  color: var(--text-color);
  
  transform: rotate();
  transition: 0.2s;
}
.card .card_name a:hover{
  background: var(--alternate-light-color);
  transform: rotate(-1deg);
}
/*delete button*/
#delete_button{
  color: rgba(194, 194, 194, 0.392);
  cursor: pointer;
  transition: 0.2s;
  background: none;
  border: none;
}
#delete_button:hover{
  color: var(--negative-color);
}