/*=======FOOTER*/
footer {
  margin-top: 4rem;
}
footer div {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

footer p {
  transition: 0.2s;
  color: var(--primary-color);
  opacity: 0.5;
}
footer a {
  font-size: 1.5rem;
  width: fit-content;
  color: var(--primary-color);
  opacity: 0.5;
  transition: 0.2s;
  transform: translateY(0);
}
footer a:hover {
  transform: translateY(-10%);
}
