/*=======FOOTER*/
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  transition: 0.2s;
  color: var(--primary-color);
  opacity: 0.5;
}
footer a {
  display: grid;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: fit-content;
  color: var(--primary-color);
  opacity: 0.5;
  transition: 0.2s;
  transform: translateY(0);
}
footer a:hover {
  transform: translateY(-10%);
}